Options -Indexes
RedirectMatch 404 /\.git
RedirectMatch 404 /\.py

<IfModule !mod_ssl.c>
Redirect / https://www.cse.unsw.edu.au/
</IfModule> 
<Files server.cgi>
    SetHandler application/x-setuid-cgi
</Files>
<Files serverd.cgi>
    SetHandler application/x-setuid-cgid
</Files>
